-e .
ansicon==1.89.0 ; sys_platform == 'win32'
    # via jinxed
anyio==4.14.2
    # via httpx
beautifulsoup4==4.15.0
    # via
    #   eu-cyber-news-scraper
    #   translatepy
blessed==1.47.0
    # via inquirer
certifi==2026.6.17
    # via
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.4.9
    # via requests
click==8.4.2
    # via translate
colorama==0.4.6 ; sys_platform == 'win32'
    # via click
dateparser==1.4.1
    # via eu-cyber-news-scraper
editor==1.8.0
    # via inquirer
et-xmlfile==2.0.0
    # via openpyxl
feedparser==6.0.12
    # via eu-cyber-news-scraper
googletrans==4.0.2
    # via eu-cyber-news-scraper
h11==0.16.0
    # via httpcore
h2==4.3.0
    # via httpx
hpack==4.2.0
    # via h2
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via
    #   eu-cyber-news-scraper
    #   googletrans
hyperframe==6.1.0
    # via h2
idna==3.18
    # via
    #   anyio
    #   httpx
    #   requests
inquirer==3.4.1
    # via translatepy
jinxed==2.1.0
    # via blessed
libretranslatepy==2.1.4
    # via translate
lxml==6.1.1
    # via
    #   eu-cyber-news-scraper
    #   translate
opencc-python-reimplemented==0.1.7
    # via eu-cyber-news-scraper
openpyxl==3.1.5
    # via eu-cyber-news-scraper
python-dateutil==2.9.0.post0
    # via dateparser
pytz==2026.2
    # via dateparser
pyuseragents==1.0.5
    # via translatepy
readchar==4.2.2
    # via inquirer
regex==2026.7.10
    # via dateparser
requests==2.34.2
    # via
    #   translate
    #   translatepy
runs==1.3.0
    # via editor
safeio==1.2
    # via translatepy
sgmllib3k==1.0.0
    # via feedparser
six==1.17.0
    # via python-dateutil
soupsieve==2.8.4
    # via beautifulsoup4
translate==3.8.1
    # via eu-cyber-news-scraper
translatepy==2.3
    # via eu-cyber-news-scraper
truststore==0.10.4
    # via eu-cyber-news-scraper
typing-extensions==4.16.0
    # via
    #   anyio
    #   beautifulsoup4
tzdata==2026.3 ; sys_platform == 'win32'
    # via tzlocal
tzlocal==5.4.4
    # via dateparser
urllib3==2.7.0
    # via requests
wcwidth==0.8.2
    # via blessed
xmod==1.10.0
    # via
    #   editor
    #   runs
